@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;500&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", system-ui, sans-serif;
  font-size: 20px;
  color: #141843;
}
