<div class="flex flex-col items-center md:items-end pt-0 pt-8">
  <img
    src="./profile_picture.png"
    alt="John Deo"
    class="size-[150px] md:size-[200px] lg:size-[250px] rounded-full border-5 lg:border-10 border-[#e6e6e6]"
  />
</div>
