<div
  class="w-[1098px] min-h-[544px] border-20 border-white rounded-[30px] bg-white/70 grid grid-cols-[1fr_2fr] gap-10">
  <div class="flex flex-col items-end pt-8">
    <img
      src="./profile_picture.png"
      alt="John Deo"
      class="w-[250px]h-[250px] rounded-full border-10 border-[#e6e6e6]"
    />
  </div>
  <div class="flex flex-col justify-center">
    <h1 class="font-[Merriweather] text-[32px] font-bold">John Deo</h1>
    <h2 class="text-2xl text-[#5F627A] mb-6">Frontend Developer</h2>

    <p class="text-2xl mb-11">
      Passionate frontend developer with expertise in HTML, CSS, JavaScript and
      React.
    </p>

    <div class="flex flex-row text-center font-medium gap-11 mb-11">
      <div>
        <p>1999</p>
        <p>Followers</p>
      </div>
      <div class="border-x-[#141843] border-x-1 px-11">
        <p>190</p>
        <p>Following</p>
      </div>
      <div>
        <p>15</p>
        <p>Projects</p>
      </div>
    </div>

    <div class="flex flex-row gap-6">
      <button
        class="bg-[#AEF1F5] border-x-[#141843] border-1 rounded-[10px] font-medium w-40 h-16 text-center cursor-pointer">
        Follow
      </button>
      <button
        class="bg-[#FFDDB6] border-x-[#141843] border-1 rounded-[10px] font-medium w-40 h-16 text-center cursor-pointer">
        View Profile
      </button>
    </div>
  </div>
</div>
