---
import ProfilePhoto from "./ProfilePhoto.astro";
import ProfileInfo from "./ProfileInfo.astro";
import ProfileDetails from "./ProfileDetails.astro";
import ButtonFollow from "./buttons/ButtonFollow.astro";
import ButtonView from "./buttons/ButtonView.astro";
---

<div
  class="w-[95%] md:max-w-[1098px] min-h-[544px] border-10 lg:border-20 border-white rounded-[30px] bg-white/70 grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-10 p-4 lg:p-0">
  <ProfilePhoto />
  <div class="flex flex-col justify-center">
    <ProfileInfo />

    <ProfileDetails />

    <div class="flex flex-row gap-6 justify-center md:justify-start">
      <ButtonFollow />
      <ButtonView />
    </div>
  </div>
</div>
