<div
  class="flex flex-row justify-between md:justify-start text-center font-medium gap-2 md:gap-8 lg:gap-11 mb-11 text-base md:text-xl">
  <div>
    <p>1999</p>
    <p>Followers</p>
  </div>
  <div class="border-x-[#141843] border-x-1 px-6 lg:px-11">
    <p>190</p>
    <p>Following</p>
  </div>
  <div>
    <p>15</p>
    <p>Projects</p>
  </div>
</div>
